

.chat_img {

    width: 30px;
    height: 30px;
    border-radius: 50px;
}

/* Styles for screens with width 1200px and above */
@media screen and (min-width: 1200px) {
    /* Your styles go here */

    .messagebox {
        position: fixed;
        bottom: 0;
        justify-content: center;
        right: 114px;
        border-radius: 24px 24px  0 0  !important;
         
    }
    
  }
  
  /* Styles for screens with width from 992px to 1199px */
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    /* Your styles go here */
  }
  
  /* Styles for screens with width from 768px to 991px */
  @media screen and (min-width: 768px) and (max-width: 991px) {
    /* Your styles go here */
  }

  /* Styles for screens with width from 0px to 768px */
  @media screen and (min-width: 0px) and (max-width: 767.9px) {
    /* Your styles go here */
    .messagebox {
        position: fixed;
        bottom: 0;
        justify-content: center;
        right: 0px;
        border-radius: 24px 24px  0 0  !important;
         
    }
  }
  
  /* Styles for screens with width up to 767px */
  @media screen and (min-width: 0) {
    /* Your styles go here */
    
  }

  